.hero-quotes-icon {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 222px;
    height: 200px
}

@media (max-width:1365px) {
    .hero-quotes-icon {
        display: none
    }
    .hero .hero-slide .header-content {
        top: 164px
    }
    .hero-frame {
        height: 490px
    }
    .page-header-slider-title {
        font-size: 25px;
        font-weight: 500;
        line-height: 150%;
    }
    .page-header-slider-descr {
        letter-spacing: 0.02em;
        color: rgba(255, 255, 255, 0.67);
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        margin-top: 24px;
    }
}

@media (max-width:880px) {
    .hero-frame {
        height: 524px
    }
}

@media (max-width:767px) {
    .page-header-slider-title {
        margin: 96px 0 0 0;
        font-size: 18px;
        line-height: 27px;
        font-weight: 500;
    }
    .hero .hero-slide .header-content {
        top: 4%
    }
    .hero .hero-slide img {
        height: 524px;
        object-position: 55% 61%;
    }
    .hero-text.page-header {
        margin-left: 0;
        margin-right: 0
    }
    .hero-quotes-icon {
        display: block;
        height: 98px;
        width: 109px;
    }
    .slider-plus-white {
        display: block
    }
    .main-page-link {
        display: none
    }
    .hero-controller .page-header-slider-link a strong svg {
        width: 20px;
        height: 20px;
    }
    .hero-controller {
        bottom: 40px;
    }
    .hero-slide .page-header-slider-descr {
        letter-spacing: 0.02em;
        color: rgba(255, 255, 255, 0.67);
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        margin-top: 20px;
    }
    .page-header-slider-item-footer {
        display: flex;
        align-items: center;
    }
    .page-header-slider-item-footer .page-header-slider-link a span {
        border-bottom: 1px dashed #798287;
        padding-bottom: 3px;
    }
    .page-header-slider-item-footer .page-header-slider-link {
        margin-top: 0
    }
    .page-header-slider-item-footer .page-header-slider-item-arrow-prev {
        left: -57px
    }
    .page-header-slider-item-ctrl a {
        width: 48px;
        height: 52px;
        display: flex;
        float: none;
        position: absolute;
    }
    .page-header-slider-item-ctrl a svg {
        height: 100%;
        width: 100%;
    }
    .page-header-slider-item-ctrl a::before {
        display: none
    }
    .page-header-slider-item-ctrl-text {
        font-size: 16px;
        transform: translateX(-15px);
    }
}


/* Первая секция */

.main-tank-header.visible {
    width: 870px;
    left: auto;
    right: 14%;
    top: 14px
}

@media (max-width:1850px) {
    .main-header-prefs-item-icon {
        width: 266px;
    }
    .main-header-prefs-item-text {
        margin: 0 0 0 250px;
        max-width: 570px;
    }
}

@media (max-width: 1800px) {
    .main-tank-header.visible {
        right: 2%
    }
    .main-header-btns {
        display: none
    }
    .main-header-prefs-item-icon {
        width: auto
    }
}

@media (max-width:1600px) {
    .main-tank-header.visible {
        width: 560px;
        top: 33px;
        right: 4%;
    }
    .main-header-title {
        font-size: 48px;
        line-height: 104%;
        display: flex;
        flex-direction: column;
    }
    .main-header-title span {
        font-size: 80px;
        line-height: 104%;
        margin-top: 8px;
    }
    .main-header {
        padding-top: 119px
    }
    .main-header-prefs-item-icon {
        font-size: 40px;
    }
    .main-header-prefs-item-text {
        font-size: 14px;
        max-width: 500px;
        margin: 0 0 0 216px;
    }
}

@media (min-width:1200px) and (max-height: 850px) {
    .main-header-prefs {
        margin: 4.5vw 0 0 0;
    }
}

@media (max-width:1250px) {
    .main-header-prefs-item-text {
        max-width: 260px
    }
}

@media (max-width:992px) {
    .main-header-prefs-item-text {
        margin: 8px 0 0 0;
        max-width: none;
        padding: 0;
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.7);
        opacity: 0.9;
    }
    .main-header {
        height: auto;
        min-height: 0;
        padding: 88px 16px 338px 16px;
    }
    .main-header-btns {
        display: block
    }
    .main-tank-header.visible {
        display: none
    }
}

@media (max-width:425px) {
    .main-header-title {
        font-size: 36px;
        line-height: 110%;
        letter-spacing: 0.01em;
    }
}


/* Первая секция */


/* Cекция с слайдером на главной */

.detail-inner-object {
    padding: 0
}

.detail-inner-slider_left-side {
    padding: 0 64px
}

@media (max-width:992px) {
    .vertical-slide-content .detail-inner-object-number {
        font-size: 16px;
        line-height: 120%;
        margin-top: 20px;
    }
    .vertical-slide-content .detail-inner-object-title {
        font-size: 16px;
        line-height: 120%;
    }
    .vertical-slide-content .detail-inner-object-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 170%;
    }
    .slick-active .vertical-slide-content {
        animation: none
    }
    .detail-inner-slider_left-side {
        width: 100%;
        padding-left: 16px;
        padding-right: 0
    }
    .detail-inner-object {
        padding: 0 6px
    }
    .detail-inner-slider-wrapper {
        height: 100%;
        flex-direction: column-reverse;
    }
    .detail-inner-slider_right-side {
        height: auto;
        width: 100%;
    }
    .detail-inner-object-container .slick-slider {
        display: none
    }
    .detail-inner-object-container {
        margin-top: 0
    }
    .detail-inner-object-container h2 {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 25px;
        display: block
    }
    .detail-inner-object-photo {
        height: 300px
    }
}

@media (max-width:425px) {
    .detail-inner-object-photo {
        height: 180px
    }
}

@media (max-height:900px) and (min-width:992px) {
    .detail-inner-slider_right-side {
        height: 100vh;
    }
    .detail-inner-object-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .detail-inner-object-arrows {
        margin-top: auto
    }
    .detail-inner-object-container .slick-slider {
        margin-bottom: 110px;
    }
}


/* Cекция с слайдером на главной */


/* Состав конструкции */

@media (max-width:992px) {
    .main-prefs-list.slick-initialized .main-prefs-item-text ul {
        padding-left: 16px;
    }
    .main-prefs-item-text li::before {
        width: 6px;
        height: 6px;
        top: 10px;
        left: -14px;
    }
}


/* Состав конструкции */